<select [(ngModel)]="selectedStandard" (change)="onStandardChange()">
  <option value="1">First Standard</option>
  <option value="2">Second Standard</option>
</select>

<table *ngIf="students">
  <thead>
    <tr>
      <th>Name</th>
      <th>Standard</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.className }}</td>
      <td>{{ student.registerNumber }}</td>
      <td>{{ student.mobileNumber }}</td>
      <td>{{ student.standard }}</td>
    </tr>
  </tbody>
</table>