.student-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .student-table th,
  .student-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .student-table th {
    background-color: #f2f2f2;
  }
  
  .student-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .student-table tr:hover {
    background-color: #ddd;
  }
  
  .highlight {
    background-color: #4CAF50;
    color: white;
  }

  .custom-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .custom-dropdown:hover {
    border-color: #666;
  }
  
  .custom-dropdown:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Arrow icon */
  .custom-dropdown::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Styling options */
  .custom-dropdown option {
    padding: 10px;
    font-size: 16px;
    background-color:red ;
    color: #333;
  }
  
  